/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    margin: 0;
}

.logo-top {
    float: left;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 130px;
    position: fixed;
}

.dames-heren-nav {
    display: flex;
    padding: 15px;
    color: white;
    position: relative;
}

.dames-heren-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.dames-heren-nav li {
    display: inline-block;
    color: black;
    font-family: sans-serif;
    padding: 10px 20px;
    text-decoration: none;   
}

.achtergrond-afbeelding-1 {
    background: url('https://i.postimg.cc/jqvPtgKV/Landing-Page-Desktop-Winter20-7.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.achtergrond-afbeelding-2 {
    background: url('https://i.postimg.cc/3wFbXkd0/www-lundlund-com-styleby-5.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 745px;
    left: 0;
}
